html,
body,
#workspace,
.layer,
.layer svg,
#application-container {
    padding                 : 0;
    margin                  : 0;
    height                  : 100%;
    width                   : 100%;

    -webkit-box-sizing      : border-box;
            box-sizing      : border-box;
}

#workspace,
#application-container,
.layer,
.layer svg,
.edit-controls {
    position                : absolute;
    width                   : 100%;
    top                     : 0;
    left                    : 0;
}

#application-container {
    height                  : 100%;
    padding-top             : 26px;
}

.edit-controls {
    background              : grey;
    z-index                 : 100;
}

.element-add-info {
    position                : absolute;
    background              : white;
    z-index                 : -1;
}

.element-add-info,
.element-add-control {
    display                 : none;
}

.draggable {
    cursor                  : move;
}

.arrow-path {
    fill                    : none;
    stroke                  : red;
    stroke-width            : 5;
}

.arrow-head {
    fill                    : red;
}

.alt-arrow-head {
    position                : absolute;
    background-color        : red;
    width                   : 30px;
    height                  : 30px;
}

.point {
    fill                    : rgba(0, 0, 0, 0.3);
    stroke                  : grey;
    stroke-width            : 1;
}

.bounding-box {
    fill                    : none;
    stroke                  : grey;
}

.arrow-head-container {
    position: absolute;
    width: 30px;
    height: 30px;
}
