body,
div,
svg,
g,
path {
    padding: 0;
    margin: 0;
    -webkit-box-spacing: border-box;
       -moz-box-spacing: border-box;
            box-spacing: border-box;
}

html, body,
#app-wrapper,
#app-container {
    height: 100%;
    width: 100%;
}

#app-wrapper {
    position: relative;
    padding-top: 0.3rem;
}

#app-container {
    background-size: contain;
}

#controls {
    position: absolute;
    top: 5px;
    left: 5px;
}
