.element-add-info {
    position: absolute;
    background: white;
    z-index: -1;
}

.element-add-info,
.element-add-control {
    display: none;
}

.edit-controls {
    background: grey;
}

.draggable {
    cursor: move;
}

.arrow-path {
    fill            : none;
    stroke          : red;
    stroke-width    : 5;
}

.arrowHead {
    fill            : red;
}

.point {
    fill        : rgba(0, 0, 0, 0.3);
    stroke      : grey;
    stroke-width: 1;
}
